# SCURBBED FOR SECURITY
TELEGRAM_BOT_TOKEN_BOOSTERTEA=
TELEGRAM_BOT_TOKEN_DINOSLUSH=
TELEGRAM_BOT_TOKEN_TLAB=
TELEGRAM_BOT_TOKEN_FUNNYDROPS=

TELEGRAM_BOT_TOKEN_MASTER=

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
